@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');



@import "sass/abstracts/variables";
@import "sass/components/buttons";

body {
  background-color: $light-color;
  color: $dark-color;
}

a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

.button {
  background-color: $success-color;
  color: $light-color;
  border: none;
  &:hover {
    background-color: darken($success-color, 10%);
  }
}
