@tailwind base;
@tailwind components;
@tailwind utilities;


/* Box-sizing border-box Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Normalize Reset */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Reset for links */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/* Reset for lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
